<div class="container mt-5">
  <div class="card profile-container">
    <div class="card-header">
      <h2>Perfil de Usuario</h2>
    </div>
    <div class="card-body">
      <div class="user-details mb-3">
        <p><strong>Nombres:</strong> {{ user.nombre }}</p>
        <p><strong>Apellidos:</strong> {{ user.apellido }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Rol:</strong> {{ user.role }}</p>
      </div>
      
      <button class="btn btn-primary" (click)="changePassword()">Cambiar Contraseña</button>

      <div *ngIf="showChangePassword" class="mt-3">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Nueva Contraseña" [(ngModel)]="newPassword">
          <div *ngIf="passwordError" class="text-danger">{{ passwordError }}</div>
        </div>
        <button class="btn btn-success" (click)="updatePassword()">Actualizar</button>
        <button class="btn btn-secondary" (click)="cancelChangePassword()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
