<header class="header">
    <div class="header-content">
        <h1>MonitorBache Quito</h1>
        <p>¿Te has preguntado cuántos baches hay en las calles de Quito? Nuestra aplicación web, te ofrece una respuesta precisa y en tiempo real.</p>
        <div class="botones">
            <a href="#card-area" aria-label="Link que dirige a conocer sobre BacheMonitor">Sobre Nosotros </a>
            <a href="#" aria-label="Link al mapa de baches">Sobre Baches</a>
        </div>
    </div>
    <video muted autoplay loop aria-label="Video animado de un carro andando y se daña porque habido un bache en la calle"> 
        <source src="../assets/fondo.mp4" type="video/mp4">
    </video>     
    <div class="capa"></div>
</header>

<section id="card-area">
    <div class="wrapper">
        <h4>Sobre MonitorBache</h4>
        <div class="box-area">

            <div class="box">
                <img src="../assets/carro_bache.jpg" alt="Carro pasando por bache">
                <div class="overlay">
                    <h3>MonitorBache Quito</h3>
                    <p>Es una iniciativa innovadora dedicada a mejorar la infraestructura vial de nuestra ciudad mediante la detección y monitoreo de baches. Utilizando tecnología avanzada, recopilamos y analizamos datos para proporcionar información precisa y en tiempo real sobre el estado de las calles de Quito.</p>
                </div>
            </div>

            <div class="box">
                <img src="../assets/objetivos.png" alt="Advertencia de bache">
                <div class="overlay">
                    <h3> Nuestros Objetivos</h3>
                    <ol>
                        <li>Identificar y registrar baches en las calles de Quito.</li>
                        <li>Proveer datos actualizados a las autoridades para facilitar la reparación y mantenimiento.</li>
                        <li>Mejorar la seguridad vial y la experiencia de los conductores y peatones</li>
                    </ol>
                </div>
            </div>
            
            <div class="box">
                <img src="../assets/sensor.png" alt="Sensor acelerometro giroscopio">
                <div class="overlay">
                    <h3>Funcionamiento</h3>
                    <p>Usamos un sensor acelerometro giroscopio instalados en vehículos para detectar irregularidades en la superficie de la carretera. Los datos son enviados a nuestro sistema central, donde se procesan y se generan reportes que son publicados en el sitio web.</p>
                </div>
            </div> 
        </div>

    </div>
</section>

<footer class="bg-dark text-white pt-5 pb-5">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="mb-4 font-weight-bold text-warning">BACHEMONITOR</h5>
                <img src="../assets/camino-sinuoso-fondo.png" alt="Logo" style="height: 80px;">
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="mb-4 font-weight-bold text-warning">MISIÓN</h5>
                <p>Nuestra misión es facilitar la detección y reparación de baches, haciendo de nuestras calles un lugar más seguro y transitable para todos.</p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="mb-4 font-weight-bold text-warning">CREADORES</h5>
                <p>Francisco Lopez</p>
                <p>Nicol Constante</p>
                <p>Nubia Araujo</p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="mb-4 font-weight-bold text-warning">CONTACTOS</h5>
                <p><i class="bi bi-envelope-at-fill"></i> francisco&#64;gmail.com</p>
                <p><i class="bi bi-envelope-at-fill"></i> nicole&#64;gmail.com</p>
                <p><i class="bi bi-envelope-at-fill"></i> nubisana8&#64;gmail.com</p>
            </div>
        </div>  
    </div>   
</footer>
