<nav class="navbar navbar-expand-lg fixed-top" aria-label="Menú de nevegación">
  <div class="container-fluid">
     
    <a href="#" class="navbar-brand me-auto">BacheMonitor</a> 
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BacheMonitor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
        
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <ng-container *ngIf="!authService.isLogged()">
            <li class="nav-item">
              <a class="nav-link mx-lg-2" aria-current="page"  routerLink="/home" aria-label="Link página de inicio">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2"  routerLink="/mapa" aria-label="Link al mapa de baches">Sobre Baches</a>
            </li>
          </ng-container>    
          <ng-container *ngIf="authService.isLogged()">
            <ng-container *ngIf="role === 'administrador'">
              <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLink="/menuAdmin" aria-label="Link a la tabla de usuarios">Usuarios</a>
              </li>
            </ng-container>
            <ng-container *ngIf="role === 'operador'">
              <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLink="/menuOperator" aria-label="Link al reporte del sensor">Reporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLink="/dashboard" aria-label="Link a los dashbord">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLink="/perfil" aria-label="Link al perfil de usuario">Perfil</a>
              </li>
            </ng-container>
          </ng-container>    
        </ul>
      </div>
    </div>
    <a  (click)="onLogout()" *ngIf="authService.isLogged()" class="login-button" aria-label="Link para cerrar sesión">Cerrar Sesión</a>
    <a  routerLink="/login" *ngIf="!authService.isLogged()" class="login-button" aria-label="Link para iniciar sesión">Iniciar Sesión</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
