.inner-row{
    height: 100vh;
}

.primaryBg{
    background: #FFD700;
}

.primaryBg:hover{
    background: #000;
}


.form-box{
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}