<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="data_table">
                <div class="table_header">
                    <h2>Usuarios</h2>
                    <button id="btn" routerLink="/register">Crear Nuevo</button>
                    <div class="input_search">
                        <input type="search" placeholder="Buscar">
                        <i id="search" class="bi bi-search"></i>
                    </div>
                </div>
           
                <table  id="tabla" class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Rol</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of arrUsers">
                            <td>{{user.nombre}}</td>
                            <td>{{user.apellido}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.role}}</td>
                            <td>
                                <button class="btn" [routerLink]="['/editUser', user._id]" aria-label="Editar usuario"><i class="bi bi-pencil-square text-primary" id="icons"></i></button>
                                <button class="btn" (click)="borrarUsuario($event, user._id)" aria-label="Borrar usuario"><i class="bi bi-trash text-danger" id="icons"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Rol</th>
                            <th>Operaciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>   
        </div>
    </div>
</div>
