@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
/* You can add global styles to this file, and also import other style files */


:root {
    --background-color: white;
    --text-color: black;
}
  
body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* font-family: bebas neue; */
}
  
body.dark-theme {
    --background-color: #333;
}
  
body.high-contrast-theme {
    --background-color: black;
    --text-color: yellow;
}

button:focus, a:focus {
    outline: 2px solid black; /* Hacer el foco visible */
}

  
