<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="data_table">
                <div class="table_header">
                    <h2>Reporte</h2>
                    <div class="botones">
                        <button (click)="exportExcel()" class="btn mb-3">Descargar en Excel</button>
                        <button (click)="exportPDF()" class="btn mb-3 mx-3">Descargar en PDF</button>
                    </div>
                </div>
           
                <table  id="tabla" class="table table-striped table-bordered">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>X</th>
                            <th>Y</th>
                            <th>Z</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Fecha y Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sensorData">
                            <td>{{ data.x }}</td>
                            <td>{{ data.y }}</td>
                            <td>{{ data.z }}</td>
                            <td>{{ data.lat }}</td>
                            <td>{{ data.lng }}</td>
                            <td>{{data.fecha_hora}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="text-center">
                        <tr>
                            <th>X</th>
                            <th>Y</th>
                            <th>Z</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Fecha y Hora</th>
                        </tr>
                    </tfoot>
                </table>
            </div>   
        </div>
    </div>
</div>



