.data_table{
    /* height: 100vh; */
    margin-top: 150px;
    background: #fff;
    padding: 15px;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}

.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0;
}

.btn{
    outline: none;
    border: none;
    background-color: #ffd700;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;

    &:hover{
        background-color: #000;
    }
}

